.goal-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  * {
    text-decoration: none;
  }
  .item {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .left-side {
      display: flex;
      gap: 20px;
      align-items: center;
      img {
        width: 24px;
        height: 24px;
        border-radius: 4px;
      }
      .title {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #233043;
      }
    }
  }
  .right-side {
    margin-left: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    .progress {
      width: 100px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #606b79;
    }
    .on-track {
      white-space: nowrap;
      padding: 4px 9px 4px;
      height: 24px;
      background: #c1d3fe;
      border-radius: 42px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #0c46d0;
    }
    .time-div {
      white-space: nowrap;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #606b79;
    }
    svg {
      min-width: 24px;
    }
  }
}
