.not-found-goal-container {
  background-color: #f7f8f8;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #444691;
  }

  img {
    margin-bottom: 8px;
  }

  button {
    margin-top: 16px;
  }

  div {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #444691;
  }

  a {
    color: #444691 !important;
  }
}
