.button {
  text-align: center;
  padding: 8px 16px;
  height: 40px;
  background: #1053ff;
  font-family: "Inter";
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
